@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

@model IEnumerable<Entry>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-deck">
                <div class="card col-md-12 my-5 py-3">
                    <div class="card-block">
                        <h4 class="card-title">Analytical Dashboard</h4>
                        <div class="row">
                            <div class="col-sm-8">
                                <p class="card-text">
                                    <br />Type of GUI which often provides
                                    at-a-glance views of key performance indicators relevant to a particular objective or business process.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <nav aria-label="breadcrumb w-25">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Employee Dashboard</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ctm-border-radius shadow-sm grow mx-auto table-striped">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-sm-3 text-left">
                            <form asp-action="Dashboard" asp-controller="Timesheet" method="get">
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        <input class="form-control" type="month" name="monthValue">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="employee-office-table">
                        <div class="table-responsive table-borderless">
                            <table class="table custom-table text-center">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Total working time</th>
                                        <th>In Time</th>
                                        <th>Out Time</th>
                                        <th>Break count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Date.ToString("dd/MM/yy")</td>
                                            <td>@item.OutTime.Subtract(@item.InTime)</td>
                                            <td>@item.InTime.ToString("hh:mm tt")</td>
                                            <td>@item.OutTime.ToString("hh:mm tt")</td>
                                            <td>@item.Breaks.Count()</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
